# For more details on how to configure Wrangler, refer to:
# https://developers.cloudflare.com/workers/wrangler/configuration/

name = "nextjs-16-cloudflare-starter"
main = ".open-next/worker.js"
compatibility_date = "2025-12-01"
compatibility_flags = ["nodejs_compat", "global_fetch_strictly_public"]

[assets]
binding = "ASSETS"
directory = ".open-next/assets"

[images]
# Enable image optimization
# see https://opennext.js.org/cloudflare/howtos/image
binding = "IMAGES"

[[services]]
# Self-reference service binding, the service name must match the worker name
# see https://opennext.js.org/cloudflare/caching
binding = "WORKER_SELF_REFERENCE"
service = "nextjs-16-cloudflare-starter"

# [[r2_buckets]]
# binding = "NEXT_INC_CACHE_R2_BUCKET"
# bucket_name = "<BUCKET_NAME>"

[observability]
enabled = true
